{
  "presets": [[
    "env", {
      "targets": {
        "chrome": "62"
      },
      "useBuiltIns": true,
      "debug": false
    }
  ], "react", "stage-0"],
  "plugins": ["transform-decorators-legacy", "add-module-exports"]
}
